* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(54, 50, 50);
    color: white;
    font-family: sans-serif;
}

header {
    background-color: #ff69b4;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

header h1 {
    font-family: cursive;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-shadow: 0 0 20px white;
    cursor: pointer;
}

header h1:hover {
    color: purple;
}

header h1 span {
    color: deepskyblue;
}


.titleH1 {
    color: hotpink;
    font-family: cursive;
    text-align: center;
    margin: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}


.carousel {

    height: 200px;
    margin: 40px auto;
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    width: 90%;
}

.group {
    /* background-color: blue; */
    display: flex;
    gap: 20px;
    align-items: center;
    animation: spin 20s infinite linear;
}


.genre-item {
    background-color: deepskyblue;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.genre-item:hover {
    filter: drop-shadow(0 0 10px white);
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}


.game-list {
    /* background-color: red; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.figure {
    text-align: center;
    width: 22%;
    border: solid hotpink 1px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

figure img {
    width: 100%;
    margin: 10px 0;
}

figure p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
}

.figure:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px hotpink;
}


/* ********************* */
/* ABOUT PAGE */

.about-page {
    height: 90vh;

    display: flex;
}

.about-page section {
    flex: 1;
}

.about-left {
   padding: 20px;
}

.about-left >*{
    margin-bottom: 20px;
}

.about-right img {
    /* border: solid white 1px; */
    width: 80%;
    aspect-ratio: 1;
    border-radius: 71% 29% 77% 23% / 14% 69% 31% 86%;
    filter: drop-shadow(0 0 50px hotpink);
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    /* background-color: red; */

    display:flex;
    justify-content: center;
    gap: 20px;
}

.social >*{
    font-size: 40px;
    color:#ff69b4;

}
.social>*:hover {
    filter: drop-shadow(0 0 5px white);
}

.whats-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.center{
    text-align: center;
}

button{
    background-color: #ff69b4;
    font-size: 24px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    box-shadow: 0 0 10px 10px deepskyblue;

}


button:disabled{
    background-color: gray;
}
button:disabled:hover {
    box-shadow: 0 ;

}

.game-header{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:30px auto;
}

.game-content{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 50px;
}

.game-imgs{

    flex:1;
}

.game-info{
    flex:2;
}

.game-info h3 {
    margin-bottom: 40px;
}

.thumbnail{
    width: 100%;
}

.screenshots{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.screenshots img{
    width: 47%;
}

.minimum{
    margin-top: 40px;
}

.pointer{
    cursor: pointer;
}

.pointer:hover {
    filter: drop-shadow(0 0 10px white);
}